*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #33475b;
}


body{
  min-width:1400px;
}
/* SITE HEADER */
#site_header{
  height: 1020px;
  background: #f4f9fd;
}

.clearfix{
  content: "";
  display: table;
  clear: both;
}

li{
  display: inline-block;
  padding: 35px 0 35px;
}




#site_footer{
  height: 350px;
}

.nav_bar_top{
  margin: auto;
  width: 1500px;
  background: #f4f9fd;
}

.top_left, .main_left{
  width: auto;
  float: left;

}

.top_left a{
  margin-right: 20px;
}

#log_in{
  padding: 10px;
  color: #fe775a;
  border: 1px solid #fe775a;
  border-radius: 4px;
  margin-left: 20px;
}

#get_free{
  margin-left: 20px;
  padding: 10px;
  color: white;
  background: #fe775a;
  border-radius: 4px;
}

#vl{
  padding-right: 20px;
  border-right: 2px solid #33475b;
}

.top_right, .main_right{
width: auto;
float: right;
}

.main_right a {
  margin-left: 20px;
}

ul a li{
  display: inline-block;
}

.nav_main_container{
  background:  white;

}

.nav_bar_main{
  margin: auto;
  width: 1500px;
  background:  white;

}

.jumbo_logo{
  height: 900px;
  background-image: url("../img/jumbotron.png");
  background-size: cover;
  background-position: center center;
}

.jumbo_text{
  margin: auto;
  width: 1500px;
  height: 100%;

}

.title{
  width: 500px;
  height: 80px;
  padding-top: 200px;
  font-size: 25px;


}

.par{
  width: 400px;
  height: 80px;
  padding-top: 250px;
}

/* /SITE HEADER */

/* SITE CONTENT */

#site_content{
  height: 1000px;
  background: #f4f9fd;
}

.middle_bar{
  height: 81px;
  background: #afebe4;
}

.top_bottom_border{
  margin: auto;
  width: 1500px;
  height: 100%;
  background: #afebe4;
  border-top: 4px solid #33475b;
  border-bottom: 4px solid #33475b;
}



.cube_center{
  height: 600px;
  border: 1px solid black;
  text-align: center;
}

#cubo{
  width: 525px;
  height: 300px;
}


.body_cube{
  width: 1500px;
  margin: auto;
  position: relative;
}

.cubo_text{
  width: 525px;
  position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
  }  
